
@{
    ViewBag.Title = "Accueil";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<div class="container mt-2">
    <div class="jumbotron">
        <h1 class="display-4">Hello, @My_T_Shirt.Helpers.Authentication.getPrenom(true)  @My_T_Shirt.Helpers.Authentication.getNom(true)</h1>
        <p class="lead">
            This products are completely designed to maintain highquality.
        </p>
        <hr class="my-4">
        <p>
            This products are completely designed to maintain highquality.
        </p>
        <a class="btn btn-primary " href="#" role="button">See More</a>
    </div>
</div>


